html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f5f5;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

#app {
    min-height: 100vh;
}
